.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

android/local.properties
android/build
android/captures
android/GeneratedPluginRegistrant.java
*.iml
*.class
.gradle

.idea/workspace.xml
.idea/libraries

