.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

android/local.properties
android/build
android/captures
android/GeneratedPluginRegistrant.java
*.iml
*.class
.gradle

.idea/
android/app/google-services\.json

ios/Runner/GoogleService-Info\.plist
